body{
    background: #233;
}
.box{
    transform:scale(20%);
    width: 300px;
    height: 300px;
    border: 4px solid white;
    margin-left: 30%;
    transition: width 2s,margin-left 2s,transform 2s;
  
    animation-name: example;/*Indicamos el nombre de nuestra regla @keyframes para usar la animacion que necesitamos*/
    animation-duration:auto;/*tambien podemos indicar el tiempoo de duracion de la animacion si no indicamos la duracion de la animacion sera de 0s es decir no hara nada
                                cuando acabe el tiempo de animacion volverá a su estado original del div, en este caso no establecimos ningun color'  */
    animation-delay: 3s;/* esta propiedad lo que hace es que antes de comenzar la animacion tenga un retraso o espera de 2s y ya de ahi comienza la animacion 
                        se puede usar numeros negativos*/
    animation-iteration-count:infinite;/*Especificamos cuantas veces se repetirá la animacion aunque tenemos (infinite:bucle infinito,) */
    animation-direction:reverse;/*Especificamos que direccion tomará o el orden que debe ejecutarse en predeterminado estará en normal , tambien podemois usar
                                    reverse que irá desde el final es decir desde el 100% hasta el 0% ,alternate que lo que hará es ejecutará normal y despues que termine
                                        usará reverse pero será infinito y alternate-reverse pues akltenado hacia delante yu atras pero empezara desde el 100%.*/
    animation-timing-function: linear; /*indica la curva de velocidad es mas es como si fuera ekl transition que poidiamos deirle que tipo de velovidad queriamos
                                        ease- Especifica una animación con un inicio lento, luego rápido y luego final lento (este es el valor predeterminado)
                                        linear- Especifica una animación con la misma velocidad de principio a fin.
                                        ease-in- Especifica una animación con un inicio lento.
                                        ease-out- Especifica una animación con un final lento.
                                        ease-in-out- Especifica una animación con un inicio y un final lentos.
                                        cubic-bezier(n,n,n,n)- Le permite definir sus propios valores en una función cúbica-bezier*/
    animation-fill-mode:forwards;/*Las propiedades que estamos viendo sin contr esta , no `puede decirdir que efecto tendrá al pincipio de la ejecución o despues al finlizar
                                podemos anular ese comportamineto 
                                none- Valor predeterminado. La animación no aplicará ningún estilo al elemento antes o después de su ejecución.
                                forwards- El elemento conservará los valores de estilo establecidos por el último fotograma clave (depende de la dirección de la animación y del número de iteraciones de la animación)
                                backwards- El elemento obtendrá los valores de estilo establecidos por el primer fotograma clave (depende de la dirección de la animación) y los conservará durante el período de retraso de la animación.
                                both- La animación seguirá las reglas tanto hacia adelante como hacia atrás, extendiendo las propiedades de animación en ambas direcciones.*/
    
}
    .box:hover{
        margin-left: 35%;
        width: 600px;
        transform: scale(100%);
    }
@keyframes example {
    /* from{
       background-color: indigo;
    }
    to{
        background-color: yellow;
    } */

    0%{ /*tambien podemos usar porcentajes , que seria basicamente ligado al tiempo , 0s hara una cosa
         , pero diremos que el tiempo es el 100% ya el navegador interpretara el tiemp en porcentajes */
        background-color: greenyellow;
    }
    25%{
        background-color: aqua;
        
    }
    50%{
        background-color: chartreuse;
    }
    100%{
        background-color: darkcyan;
        
    }
}
/* @keyframes	Specifies the animation code
animation	A shorthand property for setting all the animation properties
animation-delay	Specifies a delay for the start of an animation
animation-direction	Specifies whether an animation should be played forwards, backwards or in alternate cycles
animation-duration	Specifies how long time an animation should take to complete one cycle
animation-fill-mode	Specifies a style for the element when the animation is not playing (before it starts, after it ends, or both)
animation-iteration-count	Specifies the number of times an animation should be played
animation-name	Specifies the name of the @keyframes animation
animation-play-state	Specifies whether the animation is running or paused
animation-timing-function	Specifies the speed curve of the animation */