html, body {
    height: 100%; /* Asegura que el body ocupe el 100% del viewport */
   
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}
i{
    color: white;
}

.container-padre{
    width: 100%;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat( 7,1fr);
    grid-template-rows: repeat(4,170px);
    row-gap: 7px;
    column-gap: 7px;
    grid-template-areas: 
        "hija1 hija2 hija3 hija4 hija4 hija5 hija5"
         "hija6 hija6 hija7 hija7 hija7 hija8 hija9"
        "hija10 hija11 hija7 hija7 hija7 hija8 hija9 "
        "hija12 hija12 hija13 hija13 hija13 hija14 hija14";

    

}
    .container-padre div{
        background:#696969 ;
        border-radius: 8px;
    }
    .container-hijas1{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-area:hija1 ;
    }
        .container-hijas1 p{
            grid-row:2/-2;
            margin-left: 60px;
            margin-top:25px;
            font-size: 15px;
            
            color:white;
            
        }
            .container-hijas1 i{
                font-size: 10vh;
                align-content:center;
                margin-left:75px;
            }
    .container-hijas2{
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-area:hija2 ;
    }
        .texto2-1{
            grid-row:3 / -2;
            margin-left: 70px;
        }
        .texto2{
            margin-left:80px
        }
        .texto2-2{
            margin-left:80px
        }
    .container-hijas3{
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
    
        grid-area:hija3 ;
    }
        .texto3{
            margin-left:80px;
        }
        .texto3-1{
            margin-left:80px;
        }
        .texto3-2{
            margin-left:70px;
        }

    .container-hijas4{
        display: grid;
       
        grid-template-rows: 1fr 1fr 1fr;
        
        grid-area:hija4 ;
    }
        .texto4{
            margin-left:20vh;
            
        }
        .texto4-1{
            margin-left:20vh
        }
        .texto4-2{
            margin-left:25vh;
        }
        
        
    .container-hijas5{
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-area:hija5 ;
    }
        .texto5{
            margin-left: 27vh;
        }
        .texto5-1{
            margin-left:24vh;
        }
        .texto5-2{
            margin-left: 23vh;
        }
    .container-hijas6{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area:hija6 ;
    }
        .container-hijas6 p{
            margin-left:20vh;
        }
    
    .container-hijas7{
        
        grid-area:hija7 ;
       
        align-content: center;
        
    }
        .container-hijas7 img{
            margin-left: 2vh;
            border-radius: 8px;
            width: 95%;
            height: 95%;
        }
    .container-hijas8{
        display:grid;
        grid-template-rows: 3fr 1fr 1fr;
        grid-area: hija8;
        align-items: center;
    }
        .container-hijas8 i{
           margin-left:0;
           font-size: 10vh;
            
        }
        .texto8{
            margin-left:10vh;
        }
        .texto8-1{
            margin-left:12vh;
        }
    .container-hijas9{
        display:grid;
        grid-template-rows: 3fr 1fr 1fr 1fr;
        grid-area: hija9;
        align-items: center;
    }
        .container-hijas9 i{
            margin-left:10vh;
            font-size: 10vh;
            margin-top:2vh;
        }
        .texto9{
            margin-left:12vh;
        }
        .texto9-1{
            margin-left: 11vh;
        }
        .texto9-2{
            margin-left: 12vh;
        }
        .container-hijas10{
            display:grid;
            grid-template-rows: 1fr 2fr 1fr;
            grid-area:hija10 ;
        }
            .container-hijas10 p{
                margin-left: 10vh;
            }
        .container-hijas11{
            display:grid;
            grid-template-rows: 1fr 1fr;
            grid-area: hija11;
        }
            .texto11{
                margin-left: 10vh;
            }
            .texto11-1{
                margin-left: 8vh;
            }
        .container-hijas12{
            display:grid;
            grid-template-rows:1fr 1fr 1fr ;
            grid-area: hija12;
        }
            .texto12{
                margin-left:20vh;
            }
            .texto12-1{
                margin-left:20vh;
            }
            .texto12-2{
                margin-left:24vh;
            }   

        .container-hijas13{
            display:grid;
            grid-template-rows: 1fr 2fr;
            grid-area: hija13;
        }
            .texto13{
                margin-left: 35vh;
            }
            .texto13-1{
                margin-left: 35vh;
            }
        .container-hijas14{
            display:grid;
            grid-template-rows: 2fr 1fr;
            grid-area:hija14;
        }
            .texto14{
                margin-left: 22vh;    
            }
            .texto14-1{
                margin-left: 20vh;  
            }
      