html,body{
    width: auto;
    height: auto;
    background: whitesmoke;
   
}


.dad{
    width: auto;
    height: auto;
    background: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 8vh;
}
    .header{
       width: 100%;
        height:20vh ;
        background: gray;
        display: grid;
       grid-template-columns: 1fr 1fr;
             
        
    }
        .logo{
           
           
            
        }
            .logo img{
                width: 20vh;
            }
        .icons{
            
            grid-column-start: -2;
            grid-column-end: -1;
          
           
           display: flex;
           justify-content: right;
          gap:4vh;
        }
            .icons img{
                width: 8vh;
            
            }
       


    .section{
        
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
        .text{
            background: white;
           grid-column-start: 1;
           grid-column-end: 3;
           
        }
           
        .container-images{
            
            width: 90%;
            height: 50vh;
            justify-self: center;
            grid-row-start:2 ;
            grid-row-end:3;
            grid-column: span 3/-1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
        }
            .article{
               
                width: 50%;
                justify-self: center;
                display: grid;
                grid-template-rows: subgrid;
                grid-row: span 2;
                gap: 4vh;
            }
                .img img{
                    background: rosybrown;
                   width: 100%;
                   height: 100%;
                   border-radius: 10px
                }
                    
                .text-img{
                   
                
                }
                    .text-img p{
                        margin: 20px 0px 0px 20px;
                    }
/*Responsive*/

@media all and (max-width:541px){
     .container-images{
            height: auto;
            grid-template-columns: auto   ;
            gap: 6vh;
            background-color: gray;
        }
            .text-img p{
                padding: 0vh 0vh 2vh 0vh;
               
            }
               
    .article{
        height: auto;
        
    }      

}