$company-color:#5cd;
$padding-default:16px;
$margin-default:16px;
$color-text:#333;

$text-danger:#ff0000;
/*Una cosa antes de crear el fichero css , debemos de poner en ficheros que contiene vaiables un guion _*/