html,body{
    width: auto;
    height: auto;
    
}
body{
    height: auto;
    display: grid;
    grid-template-columns: 0.4fr 0.8fr;
    column-gap: 20%;
}
    .container-texts{
        
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 8%;
       
    }
        .text{
           background-color: violet; 
        }  
        .text-low{
            background-color: green;
            justify-self:center ;
           
            width: 50%;
            height: auto;
        }
            .text-low p{
                
            }
    
    .container-images{
        
        display: grid;
        grid-template-rows: 0.3fr auto;
        row-gap: 25%;
    }
        .five-images{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 3vh;
        }
    .container-image{
       
        width: 70%;
        
        display: flex;
        justify-self: flex-end; 
        margin-right:-14%;
    }
        .container-image img{
            width: 80%;
            height: auto;
            
            
        }

    .container-ball{
        width: auto;
        height: auto;
    }
        .container-ball img{
            width: 100%;
            height: 100%;
        }

/*Responsive*/
@media all and (max-width:1292px){
    img{
        object-fit: cover;
    } 

}
@media all and (max-width:1024px){
    img{
        object-fit: cover;
    }

}
@media all and (max-width:1000px){
    .container-images{
        row-gap: 10%;
    }
    .five-images{
        grid-template-columns: 1fr;
        row-gap: 0.1%;
        
    }

    .container-ball{
        width: 30%;
        justify-self: right;
       
    }
        .container-ball img{
            width: 100%;
            height: 100%;
        }
        
            .container-image img{
                width: 80%;
                height: 80%;
               justify-self: right;
                
            }
}
@media all and (max-width:600px){
    body{
        grid-template-columns: 1fr ;
        row-gap: 10%;
    }
        
    
   
    .container-ball{
       
        justify-self:center;
       
    }
       
    .container-image{
        margin-right:12%;
        justify-content: center;
        height: auto;
    }  
    .container-image img{
        width: 80%;
        height: auto;
       
                
    }
}



