/*Style for mine index*/
html,body{
    margin: 0;
    padding: 0;
   height: 100%;
}
.father{
   
    height: 100%;
   
    
}
    .container-header{
      
       
        height: auto;
        
       
       
       
       
        
    }
        .container-logo{
           width: auto;
            display: flex;
            justify-content: center;
            height: 40%; 
            transform: scale(100%);
            transition: transform 1s;
            
            position:sticky;
            z-index: 2000;
            top: 0;
            animation-name: style-header;
            animation-timeline: scroll(root block);
        }
            .container-logo:active{
                transform: scale(120%);
            }
            .container-logo img{
                width: 10%;
            }
            .container-navegation{
                position: sticky;
                z-index: 2000;   
                top:13.6%;
                animation-name: style-header;
            animation-timeline: scroll(root block);
            }
        /*Animaciones para ewkl scroll o barra de carga*/
        .lineTemp{
           background-color: brown;
           
           height: 1vh; 
           margin: 0;
           position: sticky;
           z-index: 3000;
           top:0;
            animation-name: scrollTimeLine;
            animation-duration: auto; /*auto  lo pinemos porque la barra no va por tiempo sino por donde baje el scroll*/
            animation-timing-function: linear;
            
            animation-timeline: scroll(root block);

          
        }
        @keyframes scrollTimeLine {  /*Sencillo para el scroll*/
            from{
                width: 0%;
            }
            to{
                width: 100%;
            }
        }
        @keyframes style-header{
            to{
                background-color: rgba(255, 255, 200, .4);
                backdrop-filter:blur(5px);
                color: black;
            }
        }
        
      
     
            .firstList{
               display: flex;
              justify-content: center;

               
                width: auto;
                
                
            }
                .firstList li{
                   display: inline-block;
                    list-style: none;
                    margin: 4vh;
                   
                   
                 
                   
                  
                    
                }
                   
                        .firstList a {
                            color:brown;
                            text-decoration: none;
                            
                        }
                        .gold a{
                            color: gold;
                           
                        }
                    .firstList li:hover{
                        background-color: blue;
                       
                    }
                    .routeToledo{
                        width: 13%;
                        
                    }
                        .arrow{
                            width: 5%;
                            transform: rotate(0deg);
                            transition: transform 0.5s linear;
                        }
                    .routeToledo .arrow:hover{
                        transform: rotate(90deg);
                    }
            .sublist{
                margin-top: 0%;
                display: grid;
               
                grid-template-rows: subgrid;
                grid-template-columns: repeat(4,1fr);
                grid-row: span 4;
                row-gap: 2%;
                column-gap: 3%;
                width: 60%;
                height: 10%;
               
               top:-500%;
                /* display: none; */
               
                position: absolute;
                margin-left: -60%;
              transition: margin-left 2s  ;
              z-index: 4000;
              color: brown;
                
            
            }
                .sublist2{
                    display: grid;
                    grid-template-rows:subgrid;
                    grid-row: span 2;
                    margin-top: 1%;
                  
                    position: absolute; /*hace que separe la ul de la il */
                    top: -500px;
                    margin-left: -60%;
                    transition: margin-left 2s;
                    z-index: 4000;
                }
                    .firstList li:hover > .sublist2{
                        
                        background-color: beige;
                        top: 6vh;
                        margin-left: 0%;
                        
                    }
                        .sublist2 li{
                            height: 10vh;
                        }
                            .sublist2 li:hover{
                                background-color: whitesmoke;
                            }
                        .sublist2 a{
                            font-size: medium;
                        }
                
                .sublist li{
                    background-color: whitesmoke;
                   
                }
           
                .sublist li:hover{
                   
                    background-color:gray ;

                }
            .firstList li:hover> .sublist{ /*Recordatorio cerrar bien las listas y revidsar que la la il a leegir para sublista debe englobbar la nueva sublista*/
                display: block;
               
                display: grid;
               
                grid-template-rows: subgrid;
                grid-template-columns: repeat(4,1fr);
                grid-row: span 4;
                
                width: 60%;
                height: auto;
                
                background-color: beige;
                top: auto;
                margin-left: -22%;

            }
            
            .container-bigImage{
                background-size: cover;
                background-position: center;
                
               
            }
                .container-bigImage img{
                    width: 100%;
                    height: 60vh;
                    object-fit: cover;
                    
                }
              
           
    
.subFather{
    background-color:white;
    width: 100%;
    height:auto;
    display: grid;

    grid-template-areas: "text text text text aside aside"
                        "text text text text aside aside"
                        "text text text text aside aside"
                         "text text text text aside aside"
                          "text text text text aside aside"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "post post post post post post"
                        "post post post post post post"
                        "post post post post post post"
                        "footer footer footer footer footer footer"
                        "footer footer footer footer footer footer"
                        "footer footer footer footer footer footer";
    

}
    .container-text{
        background-color:white;
        grid-area: text;
        display: flex;
        justify-content:space-evenly;
        margin-left: 40vh;
       
    }
    
        .container-text p{
            word-spacing: 0.5px;

            font-size: 2.3vh;
        }
        
        .container-text a{
            color: red;
            text-decoration: none;
        }
        .container-text b{
            color: gray;
        }
        .tiquimisquis{
            color: black;
        }
            
    .form{
        background-color:white;
        grid-area: form;
       display: grid;
       grid-template-columns: auto;
       width: 50%;
       height: auto;
       justify-self: center;
        
    }
        .global-form{
            display: grid;
            grid-template-columns:subgrid ;
            grid-column: span 12;
            grid-template-rows:subgrid;
            grid-row: span 6;
            row-gap: 3vh;
            column-gap: 2%;
            width: 50%;
            justify-self: center;
            margin-right:8%;
            position: relative;
            align-items: center;
            height: auto;
           
        }
            .global-form input{
                background-color: rgba(169,184,195);
                border:0px;
            }
            .global-form p{
                grid-row:1/2;
                grid-column: 1 / span 2;
                color:#ab864a;
            }
                .global-form input{
                    height:6vh;
                    width:98% ;
                    
                }
            .name{
                grid-row: 2/3;
                grid-column:1 / span 2 ;
            }
            .direction{
                grid-row:2/3 ;
                grid-column: 3 / span 6;
                
            }
                .direction input{
                    width: 110%;
                }
            .numberPhone{
                grid-row: 3/4;
                grid-column:1 / span 2 ;
            }
            .asunt{
                grid-row:3/3;
                grid-column: 3 / span 6;
                width: 112.5%;
                
            }
            .bigtext{
                
                grid-row: 4/5;
                grid-column: 1/ span 8;
 
            }
                .bigtext textarea{
                    width: 105%;
                    height: 32vh;
                    background-color: rgba(169,184,195);
                    border:0px;
                    
                }
            .container-check{
                grid-row:5/6;
                grid-column: 1/ span 9;
                display: grid;
                grid-row: repeat(3,1fr);
               
            }
                .container-check input{
                    height: 2vh;
                }
                .check-text{

                }
                    .check-text p{
                        color: #666;
                    }
                .container-accept{

                }
                    .container-accept p{
                        color: #666;
                    }
                    .container-accept input{
                        width: auto;
                    }
                .container-boton{
                    display:flex;
                    width: auto;
                    height: 8vh;
                    justify-content: flex-end;
                    border-radius: 3%;
                    
                }
                    .container-boton button{
                        width: 15vh;
                        border:3px solid #ab864a;
                        color: #ab864a;
                        border-radius: 8%;
                    }
                        
                    .accept-check{

                    }
        .form p{
            font-size: 5vh;
        }
        
        .container-check{

        }
            .container-check p{
                font-size: 3vh;
            }
    .aside{
        background-color: white;
        grid-area: aside;
        display: grid;
        justify-self: center;
    }
        .aside button{
            background-color: rgba(169,184,195);
            border: 0px;
        }
        .aside-text{
            font-size: 3vh;
            color:#ab864a;
        }
        .search{

        }
            
            .search input{
                height: 6vh;
            }
                .search button{
                    height: 6.8vh;
                    margin-left: -0.9%;
                }
        .container-contact{
            display: grid;

        }
            .primary{
                font-size: 3vh;
                color:#ab864a;
            }
            .secundary{
                font-size: 2vh;
            }
    .postForm{
        background-color:white;
        grid-area: post;
        width: 50%;
        justify-self: center;
    }
        .postForm p{
            text-align: center;
            font-size: 3vh;
            color: #666;
            
        }
            .postForm a{
                text-decoration: none;
                color: red;
            }
    .footer{
        background-color: bisque;
        grid-area: footer;
        display: flex;
        justify-content: center;
    }

/*Media Queries*/


@media all and (max-width:1000px){
    .container-text {
        margin-right: 8vh;
    }
        .container-text p{
            font-size: 2vh;
        }
}
@media all and (max-width:769px){
    .subFather{
        background-color:white;
        width: 100%;
        height:auto;
        display: grid;
    
        grid-template-areas: "text text text text text text"
                            "text text text text text text"
                            "text text text text text text"
                             "text text text text text text"
                              "text text text text text text"
                            "form form form form form form"
                            "form form form form form form"
                            "form form form form form form"
                            "form form form form form form"
                            "form form form form form form"
                            "post post post post post post"
                            "post post post post post post"
                            "post post post post post post"
                           " aside aside aside aside aside aside"
                            "aside aside aside aside aside aside"
                            "aside aside aside aside aside aside"
                            "aside aside aside aside aside aside"
                            "aside aside aside aside aside aside"
                            "footer footer footer footer footer footer"
                            "footer footer footer footer footer footer"
                            "footer footer footer footer footer footer";
        
    
    }
    .container-text{
        margin-left: 20vh;
    }
    .global-form p{
        font-size:large;
    }
    .aside {
        grid-template-columns: 1fr 1fr;
        column-gap: 10vh;
    }
    .firstList li:hover> .sublist{
        margin-top: 2%;
     width: auto;
    }
}