html,body{
    height: 100%;
 }
 .father{
    
     height: 100%;
 
 }
     .container-header{
       
         display: flex;
         flex-direction: column;
         height: auto;
         
     }
         .container-logo{
            
             display: flex;
             justify-content: center;
             height: 40%;
         }
             .container-logo img{
                 width: 10%;
                 
             }
         
         .container-navegation ul li{
             background-color: beige; 
            
         
         }
      
             .firstList{
                display: flex;
                justify-self: center;
 
                
                 width: 80%;
                 
                 
             }
                 .firstList li{
                    display: inline-block;
                     list-style: none;
                     height: auto;
                    position: relative;
                    margin-right: 10%;
                    width: 115%;
                    
                   
                     
                 }
                    
                         .firstList a {
                             color:brown;
                             text-decoration: none;
                             
                         }
                         .gold a{
                             color: gold;
                            
                         }
                     .firstList li:hover{
                         background-color: blue;
                         color: white;
                     }
             .sublist{
                 margin-top: 1%;
                 display: grid;
                
                 grid-template-rows: subgrid;
                 grid-template-columns: repeat(4,1fr);
                 grid-row: span 4;
                 row-gap: 3%;
                 column-gap: 3%;
                 
                
                 width: 60%;
                 height: 10%;
                
                 
             }
             
                 
               
                 .sublist li{
                     margin: 20% 0 0 40%;
                 }
     
          .sublist{
             display: none;
             position: absolute;
         }     
         
         
         .firstList li .sublist li{
             display: block;
         }

.container-bigImage{
    width: 100%;
    
}
    
    .container-bigImage img{
        width: 100%;
        height: 70vh;
        object-fit: cover;
}
    
    
.subFather{
    background-color:white;
    width: 100%;
    height:auto;
    display: grid;

    grid-template-areas: "text text text text aside aside"
                        "text text text text aside aside"
                        "text text text text aside aside"
                         "text text text text aside aside"
                          "text text text text aside aside"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "form form form form form form"
                        "post post post post post post"
                        "post post post post post post"
                        "post post post post post post"
                        "footer footer footer footer footer footer"
                        "footer footer footer footer footer footer"
                        "footer footer footer footer footer footer";
    

}
    .container-text{
        background-color:white;
        grid-area: text;
        display: flex;
        justify-content: flex-end;
    }
    
        .container-text p{
            word-spacing: 0.5px;

            font-size: 2.3vh;
        }
        
        .container-text a{
            color: red;
            text-decoration: none;
        }
        .container-text b{
            color: gray;
        }
        .tiquimisquis{
            color: black;
        }
            
    .form{
        background-color:white;
        grid-area: form;
       display: grid;
       grid-template-columns: auto;
       width: 50%;
       height: auto;
       justify-self: center;
        
    }
        .global-form{
            display: grid;
            grid-template-columns:subgrid ;
            grid-column: span 12;
            grid-template-rows:subgrid;
            grid-row: span 6;
            row-gap: 3vh;
            column-gap: 2%;
            width: 50%;
            justify-self: center;
            margin-right:8%;
            position: relative;
            align-items: center;
            height: auto;
        }
            .global-form input{
                background-color: rgba(169,184,195);
            }
            .global-form p{
                grid-row:1/2;
                grid-column: 1 / span 2;
                color:#ab864a;
            }
                .global-form input{
                    height:6vh;
                    width:98% ;
                    
                }
            .name{
                grid-row: 2/3;
                grid-column:1 / span 2 ;
            }
            .direction{
                grid-row:2/3 ;
                grid-column: 3 / span 6;
                
            }
                .direction input{
                    width: 110%;
                }
            .numberPhone{
                grid-row: 3/4;
                grid-column:1 / span 2 ;
            }
            .asunt{
                grid-row:3/3;
                grid-column: 3 / span 6;
                width: 112.5%;
                
            }
            .bigtext{
                
                grid-row: 4/5;
                grid-column: 1/ span 8;
 
            }
                .bigtext textarea{
                    width: 105%;
                    height: 32vh;
                    background-color: rgba(169,184,195);
                }
            .container-check{
                grid-row:5/6;
                grid-column: 1/ span 9;
                display: grid;
                grid-row: repeat(3,1fr);
               
            }
                .container-check input{
                    height: 2vh;
                }
                .check-text{

                }
                    .check-text p{
                        color: #666;
                    }
                .container-accept{

                }
                    .container-accept p{
                        color: #666;
                    }
                    .container-accept input{
                        width: auto;
                    }
                .container-boton{
                    display:flex;
                    width: auto;
                    height: 8vh;
                    justify-content: flex-end;
                    border-radius: 3%;
                    
                }
                    .container-boton button{
                        width: 15vh;
                        border:3px solid #ab864a;
                        color: #ab864a;
                        border-radius: 8%;
                    }
                        
                    .accept-check{

                    }
        .form p{
            font-size: 5vh;
        }
        
        .container-check{

        }
            .container-check p{
                font-size: 3vh;
            }
    .aside{
        background-color: white;
        grid-area: aside;
        display: grid;
        justify-self: center;
    }
        .aside button{
            background-color: rgba(169,184,195);
            border: 0px;
        }
        .aside-text{
            font-size: 3vh;
            color:#ab864a;
        }
        .search{

        }
            
            .search input{
                height: 6vh;
            }
                .search button{
                    height: 6.8vh;
                    margin-left: -0.9%;
                }
        .container-contact{
            display: grid;

        }
            .primary{
                font-size: 3vh;
                color:#ab864a;
            }
            .secundary{
                font-size: 2vh;
            }
    .postForm{
        background-color:white;
        grid-area: post;
        width: 50%;
        justify-self: center;
    }
        .postForm p{
            text-align: center;
            font-size: 3vh;
            color: #666;
            
        }
            .postForm a{
                text-decoration: none;
                color: red;
            }
    .footer{
        background-color: bisque;
        grid-area: footer;
        display: flex;
        justify-content: center;
    }