/*Style for mine index*/
html,body{
   height: 100%;
}
.father{
   
    height: 100%;

}
    .container-header{
      
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
        .container-logo{
           
            display: flex;
            justify-content: center;
            height: 40%;
        }
            .container-logo img{
                width: 10%;
                
            }
        
        .container-navegation ul li{
            background-color: beige; 
           
        
        }
     
            .firstList{
               display: flex;
               justify-self: center;

               
                width: 80%;
                
                
            }
                .firstList li{
                   display: inline-block;
                    list-style: none;
                    height: auto;
                   position: relative;
                   margin-right: 10%;
                   width: 115%;
                   
                  
                    
                }
                   
                        .firstList a {
                            color:brown;
                            text-decoration: none;
                            
                        }
                        .gold a{
                            color: gold;
                           
                        }
                    .firstList li:hover{
                        background-color: blue;
                        color: white;
                    }
            .sublist{
                margin-top: 1%;
                display: grid;
               
                grid-template-rows: subgrid;
                grid-template-columns: repeat(4,1fr);
                grid-row: span 4;
                row-gap: 3%;
                column-gap: 3%;
                
               
                width: 60%;
                height: 10%;
               
                
            }
            
                
              
                .sublist li{
                    margin: 20% 0 0 40%;
                }
    
         .sublist{
            display: none;
            position: absolute;
        }     
        
        
        .firstList li .sublist li{
            display: block;
        }
    .container-bigImage{
        background-size: cover;
        background-position: center;
        
       
    }
        .container-bigImage img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            
        }
    .container-text{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
        .text1{
            font-size: 30px;
            text-align: center;
            color: rgb(171, 134, 74);
        }
        .text2{
            font-size: 30px;
            text-align: center;
            color: rgb(171, 134, 74);
            font-weight: bold;
        }
        
        
        
        
