/*Style for mine index*/
html,body{
   height: 100%;
}
.father{
   
    height: 100%;

}
    .container-header{
      
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
        .container-logo{
           
            display: flex;
            justify-content: center;
            height: 40%;
        }
            .container-logo img{
                width: 10%;
                
            }
        
        .container-navegation ul li{
           
           
        
        }
     
            .firstList{
               display: flex;
              justify-content: center;

               
                width: auto;
                
                
            }
                .firstList li{
                   display: inline-block;
                    list-style: none;
                    margin: 4vh;
                   
                   
                   background-color: beige; 
                   
                  
                    
                }
                   
                        .firstList a {
                            color:brown;
                            text-decoration: none;
                            
                        }
                        .gold a{
                            color: gold;
                           
                        }
                    .firstList li:hover{
                        background-color: blue;
                       
                    }
            .sublist{
                margin-top: 0%;
                display: grid;
               
                grid-template-rows: subgrid;
                grid-template-columns: repeat(4,1fr);
                grid-row: span 4;
                row-gap: 2%;
                column-gap: 3%;
                width: 60%;
                height: 10%;
                margin-left: -40vh;
                display: none;
                position: absolute;
            
            }
                .sublist li{
                    background-color: whitesmoke;
                }
           
                .sublist li:hover{
                    color: black;
                    background-color:gray ;
                }
            .firstList li:hover> .sublist { /*Recordatorio cerrar bien las listas y revidsar que la la il a leegir para sublista debe englobbar la nueva sublista*/
                display: block;
               
                display: grid;
               
                grid-template-rows: subgrid;
                grid-template-columns: repeat(4,1fr);
                grid-row: span 4;
                
                width: 60%;
                height: auto;
                margin-left: -40vh;
                background-color: beige;
              
                

            }
            
                
              
              
       
        
        
        
    .container-bigImage{
        background-size: cover;
        background-position: center;
        
       
    }
        .container-bigImage img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            
        }
    .container-text{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
        .text1{
            font-size: 30px;
            text-align: center;
            color: rgb(171, 134, 74);
        }
        .text2{
            font-size: 30px;
            text-align: center;
            color: rgb(171, 134, 74);
            font-weight: bold;
        }


/*code css for mine section of articles*/

.container-section{
    height: 100%;
    width: 80%;
   
    margin-top: 8%;
    justify-self: center;
}
    .section-text{
       
        height: 8%;
        display: flex;
        align-items:center ;
        justify-content: center;
    }
        .section-text h1{
            text-transform: uppercase; 
            letter-spacing: 2px;
            color: rgb(171, 134, 74);
        }   
    .container-articles{
      
        height: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:subgrid;
        grid-row: span 2;
        row-gap: 0%;

        column-gap: 4%;
        
        
    }
        .article{
           
            
            display: grid;
            grid-template-rows: subgrid;
            grid-row:span  4;
            row-gap: 0%;
           
            
        }
            .article-img img{
                width: 100%;

            }
           
                .article-h3 p{
                    color: rgb(171, 134, 74);
                }
           
            .article-price p{
                font-size:3vh ;
                color: rgb(171, 134, 74);
            }
            .article-price sub{
                color:grey;
            }
        
            .article-time{
                height: 5vh;
            }
                .article-time sup{
                    font-size:2vh ;
                    color:gray;
                }
               
                
            
        
        
        
