body,html{
    background: white;
    height: 98.88%;
    width: 99%;
    background: whitesmoke;
}

.padre{
    
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    
    
}
    
    .header{
        background: whitesmoke;
       
        
    }
        .header h3{
            color:gray;
            letter-spacing: 3px;
          
            
        }
        .header p{
            color:black;
            font-size: 5vh;
            letter-spacing: 1vh;
            padding-left: 10px;
            
        }
    .container-articles{
        
        width: auto;
        height: auto;
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        column-gap: 2vh;
        row-gap: 2vh;
      

    }
    .first-title{
        margin: 0vh -2vh 0vh 4vh;
    }
        .first-title h2{
            color: rgb(204, 0, 0);
        }
    .normal-text{
        margin: 0vh -2vh 0vh 4vh;
    }
        
        .articles{
            width:65vh ;
            height: 65vh;
            display:grid;
            grid-template-rows:subgrid;
            grid-row: span 3;
            gap:0px;
            background: white;
            border-radius: 1.5vh;
        }
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0vh -2vh 0vh 4vh;
    }
        .icons img{
            width: 3vh;
        }    


/*Responsive*/
@media all and (max-width:1871px){
    .header h3{
        padding-left: 37vh;
    }
    .header p{
        padding-left:39vh;
    }
}
@media all and (max-width: 1781px){
    .header{
        width: 76%;
    }
}
@media all and (max-width:1501px){
    .header{
        justify-self: center;
        margin-left: auto;
    }
    .container-articles{
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .articles{
        width: 120vh;
        height: 120vh;
    }
    .first-title{
       justify-self: center;
    }
    .normal-text{
        justify-self: center;
    }
    .icons{
        justify-content: space-between;
        margin: 0vh -2vh 0vh 25vh;
    }
@media all and (max-width:1201px){
    .header{
        margin-right: 15vh;
       
    }
}
@media all and (max-width:1001px){
    .articles{
        grid-template-columns: subgrid;
        grid-column: span 1;
        grid-template-rows: subgrid;
        grid-row: span;
    }
}
}
@media all and (max-width:800px){
    .header{
        margin-right: 20vh;
    }
}